/* General styles for all menus */
.cbp-spmenu {
	background: #e5e6e7;
	position: fixed;
}

.cbp-spmenu ul {
	padding: 0;
}

.cbp-spmenu h3 {
	padding: 17px;
	margin-bottom: 20px;
	z-index: 99;
	text-align: right;
}

.cbp-spmenu h3 img {
	cursor: pointer;
}

.cbp-spmenu ul li {
	display: block;
	width: 100%;
	text-align: left;
}

.cbp-spmenu ul li a {
	display: block;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	font-family: "PT Sans";
	text-decoration: none;
}

.cbp-spmenu ul li a:hover {
	background: #f60020;
	color: #ffffff;
	font-family: "PT Sans";
	;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.cbp-spmenu ul li:first-child {
	border-top: 1px solid #cbcbcb;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #cbcbcb;
	padding: 13px 20px;
	padding-left: 0;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -282px;
}

.cbp-spmenu-right {
	left: -282px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	left: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon1 span {
	background: url(../images/dashboard.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon1 span:hover {
	background: url(../images/dashboard-h.png) no-repeat center center;
}

.icon1 a:hover>span {
	background: url(../images/dashboard-h.png) no-repeat center center;
}

.icon1.current a {
	background: #f60020;
	color: #ffffff;
}

.icon1.current a span {
	background: url(../images/dashboard-h.png) no-repeat center center;
}

.icon2 span {
	background: url(../images/order-cartridge.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon2 span:hover {
	background: url(../images/order-cartridge-h.png) no-repeat center center;
}

.icon2 a:hover>span {
	background: url(../images/order-cartridge-h.png) no-repeat center center;
}

.icon2.current a {
	background: #f60020;
	color: #ffffff;
}

.icon2.current a span {
	background: url(../images/order-cartridge-h.png) no-repeat center center;
}

.icon3 span {
	background: url(../images/order-status.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon3 span:hover {
	background: url(../images/order-status-h.png) no-repeat center center;
}

.icon3 a:hover>span {
	background: url(../images/order-status-h.png) no-repeat center center;
}

.icon3.current a {
	background: #f60020;
	color: #ffffff;
}

.icon3.current a span {
	background: url(../images/order-status-h.png) no-repeat center center;
}

.icon4 span {
	background: url(../images/new-complaint.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon4 span:hover {
	background: url(../images/new-complaint-h.png) no-repeat center center;
}

.icon4 a:hover>span {
	background: url(../images/new-complaint-h.png) no-repeat center center;
}

.icon5 span {
	background: url(../images/complanint-status.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon5 span:hover {
	background: url(../images/complanint-status-h.png) no-repeat center center;
}

.icon5 a:hover>span {
	background: url(../images/complanint-status-h.png) no-repeat center center;
}

.icon6 span {
	background: url(../images/empty-cartridge.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon6 span:hover {
	background: url(../images/empty-cartridge-h.png) no-repeat center center;
}

.icon6 a:hover>span {
	background: url(../images/empty-cartridge-h.png) no-repeat center center;
}

.icon7 span {
	background: url(../images/installed-printers.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon7 span:hover {
	background: url(../images/installed-printers-h.png) no-repeat center center;
}

.icon7 a:hover>span {
	background: url(../images/installed-printers-h.png) no-repeat center center;
}

.icon8 span {
	background: url(../images/my-account.png) no-repeat center center;
	padding: 14px 25px;
	border-right: 1px solid #CBCBCB;
	margin-right: 10px;
}

.icon8 span:hover {
	background: url(../images/my-account-h.png) no-repeat center center;
}

.icon8 a:hover>span {
	background: url(../images/my-account-h.png) no-repeat center center;
}




/* Example media queries */

@media screen and (max-width: 55.1875em) {
	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}
}

@media screen and (max-height: 26.375em) {
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}